*/certs
*/*/static
*/secrets
*/config/certs
*/config/dynamic_configs/*
.env
# Ignore folders.
.storage
.cloud
.google.token
jellyfin/config

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
