version: "3.9"

x-config:
    enabled: true # Service will be started by update_systemd.py

services:
    homeassistant:
        container_name: homeassistant
        image: homeassistant/home-assistant:latest
        restart: always
        # ports:
        #     - "8123:8123"
        # devices:
        #     - /dev/ttyACM0
        # user: "1000:1000" # direct podman user mapping
        volumes:
            - /home/adhadse/.config/hq_lab_configs/homeassistant:/config:Z
        # network_mode: host
        networks:
            - traefik_net
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik_net
            - traefik.http.routers.homeassistant.rule=Host(`homeassistant.hq.adhadse.com`)
            - traefik.http.routers.homeassistant.entrypoints=websecure
            - traefik.http.routers.homeassistant.tls=true
            - traefik.http.routers.homeassistant.tls.certresolver=production
            - traefik.http.routers.homeassistant.service=homeassistant
            - traefik.http.services.homeassistant.loadbalancer.server.port=8123
            # Important for WebSocket support
            - "traefik.http.routers.homeassistant.middlewares=homeassistant-headers"
            - "traefik.http.middlewares.homeassistant-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
            - "traefik.http.middlewares.homeassistant-headers.headers.customresponseheaders.Connection=Upgrade"

networks:
    traefik_net:
        external: true
