version: "3.9"

services:
    db:
        image: postgres:17
        container_name: postgres
        restart: always
        ports:
            - "5432:5432"
        networks:
            - traefik_net
        # secrets:
        #     - POSTGRES_USER
        #     - POSTGRES_PASSWORD
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        volumes:
            - postgres:/var/lib/postgresql/data
        # labels:
        #     - "traefik.enable=true"
        #     - "traefik.tcp.routers.route_db.rule=HostSNI(`postgres-hq.hq.adhadse.com`)"
        #     - "traefik.tcp.routers.route_db.tls=true"
        #     - "traefik.tcp.routers.route_db.entryPoints=db"
        #     - "traefik.tcp.routers.route_db.tls.certresolver=production"
        #     - "traefik.tcp.services.service_db.loadbalancer.server.port=5432"

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin
        restart: always
        # ports:
        #     - "8888:80"
        dns:
            - 192.168.1.1
        networks:
            - traefik_net
        # secrets:
        #     - PGADMIN_PASSWORD
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
        volumes:
            - pgadmin:/var/lib/pgadmin
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik_net
            - traefik.http.routers.pgadmin.rule=Host(`pgadmin.hq.adhadse.com`)
            - traefik.http.routers.pgadmin.entrypoints=websecure
            - traefik.http.routers.pgadmin.tls=true
            - traefik.http.routers.pgadmin.tls.certresolver=production
            - traefik.http.routers.pgadmin.service=pgadmin
            - traefik.http.services.pgadmin.loadbalancer.server.port=80

networks:
    traefik_net:
        external: true

volumes:
    postgres:
    pgadmin:
