version: "3.9"

services:
    kener:
        container_name: kener
        image: rajnandan1/kener:3.2.15
        # healthcheck:
        #   test: curl -f http://localhost:3000/ || exit 1
        secrets:
            - KENER_SECRET_KEY
        restart: always
        environment:
            TZ: Asia/Kolkata
            PUID: 1000
            PGID: 1000
            GH_TOKEN: null
            PORT: 3002
            KENER_SECRET_KEY: /run/secrets/KENER_SECRET_KEY
            ORIGIN: https://status.hq.adhadse.com
            DATABASE_URL: ${KENER_POSTGRES_URL}
            #CONFIG_DIR=/config
            # NODE_EXTRA_CA_CERTS: /certs/rootCA.pem
            # API_TOKEN:
            # API_IP:
        #ports:
        #  - 3000:3000/tcp
        networks:
            - traefik_net
        dns:
            - 192.168.1.2
        volumes:
            - ./uploads:/app/uploads:z
            # - ./database:/app/database:rw
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik_net
            - traefik.http.routers.kener-hq.rule=Host(`status.hq.adhadse.com`)
            - traefik.http.routers.kener-hq.entrypoints=websecure
            - traefik.http.routers.kener-hq.tls=true
            - traefik.http.routers.kener-hq.tls.certresolver=production
            - traefik.http.routers.kener-hq.service=kener-hq
            - traefik.http.services.kener-hq.loadbalancer.server.port=3002

networks:
    traefik_net:
        external: true

secrets:
    KENER_SECRET_KEY:
        file: ./secrets/KENER_SECRET_KEY.secret
